.tree {
  background-image: url('../../assets/images/arbreFons3.1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Afegeix aquestes propietats IMPORTANTS PERQUE TREU EL PROBLEMA DELS MARGES */
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;  /* o absolute depenent del teu cas */
  top: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
}

.leaf-container {
  position: relative;
  width: var(--leaf-size);
}

.hover-area {
  position: relative;
  padding: 20px; 
  width: var(--leaf-size);
}

.leaf {
  position: relative;
  width: var(--leaf-size);
  height: var(--leaf-size);
  background-image: url('../../assets/images/fullaRecte.png'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* No repite la imagen */
  background-position: center center; /* Centra la imagen */
  transition: transform 0.5s ease;
}

.leaf.special.one {
  transform: rotate(-20deg);
}

.leaf.special.two {
  transform: rotate(30deg);
}

.leaf.special.three {
  transform: rotate(-30deg);
}

.leaf.special:hover {
  transform: scale(var(--leaf-hover-scale)); 
}

.leaf-container:nth-child(1) {
  top: 3vh;
  left: 51.5vw;
}

.leaf-container:nth-child(2) {
  top: -10vh;
  left: 60vw;
}

.leaf-container:nth-child(3) {
  top: 0vh;
  left: 26.2vw;
}

.popup {
  display: none;
  position: absolute;
  top: 80%; /* Coloca el popup justo debajo del elemento padre */
  left: 45%; /* Centra el popup */
  width: 8vw;
  padding: 5px;
  transform: translateX(-50%) scale(0.8); /* Escala inicial més petita */
  opacity: 0; /* Invisible inicialment */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transicions */
  background-color: #333; /* Fondo gris oscuro */
  border: 1px solid #444; 
  border-radius: var(--popup-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  color: #fff;
  text-align: justify;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
}
.popup h2 {
  font-size: 0.8em; /* Ajusta la mida del títol */
  margin-bottom: 10px; /* Espai inferior */
  text-align: center;
  color:rgb(193, 193, 30);
}

.popup a {
  color:rgb(193, 193, 30);
}

.falling-leaf {
  position: absolute;
  background-image: url('../../assets/images/fullaRecte.png'); /* Ruta a la imatge de la fulla */
  background-size: cover;
  background-repeat: no-repeat;
  will-change: transform;
  animation: fall linear infinite;
}

.leaves-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}


.hover-area:hover .popup {
  display: block;
  opacity: 1; /* Fa visible el popup */
  transform: translateX(-50%) scale(1); /* Escala a mida original */
}

a {
  font-size: 3%;
  display: flex;
  justify-content: center;
}

.popup p {
  display: flex;
  justify-content: center;
  font-size: 0.3em; 
}

.popup2 {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 70vh;
  max-height: 90vh;
  padding: var(--popup-padding-top) var(--popup-padding) var(--popup-padding) var(--popup-padding); 
  background-color: #333; /* Fondo gris oscuro */
  border: 1px solid #444; 
  border-radius: var(--popup-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  color: #fff;
  text-align: justify;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  z-index: 1000;
}

.popup2 p {
  text-align: justify;
  font-size: 1em;
  color: var(--popup-close-color);
}


.close {
  display: flex;
  justify-content: flex-end;
  padding: 10px 7.5px 15px 10px;
}

.close i{
  cursor: pointer;
}

.popup2.show {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  max-height: 100%;
  overflow: hidden; 
}

.scroll-container {
  max-height: calc(80vh - 120px); /* Estableix l'alçada màxima al 80% de l'alçada de la finestra menys 100 píxels, assegurant que el contenidor no excedeixi aquesta mida i permeti espai per a altres elements de la interfície */  
  overflow-y: auto;
  padding: 3px 40px 0px 40px; /* top, right, bottom, left */
  border-radius: 10px;
  box-sizing: border-box;
  scrollbar-width: 10px;
}

/* Estil dels scrollbars per a Chrome, Safari i Edge */

.scroll-container::-webkit-scrollbar {
  width: 7.5px;
  transition: width 0.3s;
}

.scroll-container::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  width: 10px; 
  background: #959595;
}

.modal-title {
  display: flex;
  justify-content: center;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  z-index: 1000; 
}