<div class="tree">
  <div class="leaf special">
    <div class="popup zoomTarget" data-targetsize="1.5" data-duration="600" data-closeclick="true">
      <a href="https://example.com">Visita este enlace</a>
      <p>Este es un enlace especial faffafdfsfsfd fafafffffffffffffffffffffffffl</p>
    </div>
  </div>
  <div class="leaf special">
    <div class="popup zoomTarget" data-targetsize="1.5" data-duration="600" data-closeclick="true">
      <a href="https://example.com">Visita este enlace</a>
      <p>Este es un enlace especial faffafdfsfsfd fafafffffffffffffffffffffffffl</p>
    </div>
  </div>
  <div class="leaf normal"></div>
</div>  