@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --popup-bg-color: #ffffff;
    --popup-border-color: #ccc;
    --popup-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --popup-padding: 10px;
    --popup-padding-top: 5px; 
    --popup-radius: 8px;
    --leaf-size: 100px;
    --leaf-hover-scale: 2.5;
  }
  